.comments {
	.media {
		padding: 25px 0;

		+ .media {
			border-top: 1px solid #ebebeb;
		}

<<<<<<< HEAD
=======
		&.comments-child {
			margin-left: 115px;
		}

>>>>>>> upstream/dev
		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
		}

		.media-body {
			padding-left: 15px;

<<<<<<< HEAD
			.action {
				float: right;
				display: none;

				.btn {

					+ .btn {
						margin-left: 10px;
					}
				}
=======
			h6 {
				margin-bottom: 10px;
			}

			.list-right {
				display: none;
>>>>>>> upstream/dev
			}
		}

		&:hover {
			.media-body {
<<<<<<< HEAD
				.action {
=======
				.list-right {
>>>>>>> upstream/dev
					display: block;
				}
			}
		}

		.avatar {
			height: 50px;
			width: 50px;

			.inner-ring {
				background: #fff;
			}

			&:after {
				border-color: #fff;
			}
		}
	}
}
